In [1]:
import pandas as pd

In [33]:
oui_df = pd.read_excel('oui_default.xlsx', sheet_name='db')

In [26]:
oui_df.head()

                       wwn type
0  50:01:43:80:24:d5:a7:44  SRV
1  50:01:43:80:24:d5:ad:bc  SRV
2  50:01:43:80:24:d5:a8:58  SRV
3  50:01:43:80:24:d5:ab:40  SRV
4  50:01:43:80:24:d5:aa:24  SRV

In [27]:
oui_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5111 entries, 0 to 5110
Data columns (total 2 columns):
wwn     5111 non-null object
type    5111 non-null object
dtypes: object(2)
memory usage: 80.0+ KB

In [19]:
oui_df.wwn.str[6:14]

0      43:80:24
1      43:80:24
2      43:80:24
3      43:80:24
4      43:80:24
         ...
159    00:05:1e
160    00:05:1e
161    00:05:1e
162    88:94:71
163    88:94:71
Name: wwn, Length: 164, dtype: object

In [35]:
oui_df['oui'] = oui_df.wwn.str[6:14]

In [36]:
oui_df.drop_duplicates(subset = ['type', 'oui'], inplace=True)

In [37]:
oui_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 5105
Data columns (total 3 columns):
wwn     167 non-null object
type    167 non-null object
oui     167 non-null object
dtypes: object(3)
memory usage: 5.2+ KB

In [43]:
oui_df[oui_df.duplicated(subset='oui', keep=False)].sort_values(by = 'oui')

                          wwn        type       oui
1846  10:00:00:05:1E:36:32:BC  BROCADE_SW  00:05:1E
3935  10:00:00:05:1E:FB:C6:56         SRV  00:05:1E
1660  10:00:00:05:33:90:82:ae         SRV  00:05:33
674   10:00:00:05:33:4e:42:5c  BROCADE_SW  00:05:33
378   21:00:00:24:ff:04:b5:e5         SRV  00:24:ff
1602  21:00:00:24:ff:79:d2:c6     STORAGE  00:24:ff
711   51:40:2e:c0:00:d4:19:f4         SRV  2e:c0:00
1814  51:40:2e:c0:00:f6:18:7c         LIB  2e:c0:00
1782  50:01:43:80:00:c5:a4:30         SRV  43:80:00
4775  50:01:43:80:00:06:3F:49     STORAGE  43:80:00
4555  50:01:43:80:01:3B:E4:48     STORAGE  43:80:01
520   50:01:43:80:01:69:73:da         SRV  43:80:01
262   50:01:43:80:03:2E:21:83         LIB  43:80:03
633   50:01:43:80:03:3a:8a:6e         SRV  43:80:03
558   50:01:43:80:04:25:20:3c         SRV  43:80:04
4559  50:01:43:80:04:C5:F3:A8     STORAGE  43:80:04
1081  50:01:43:80:12:8e:40:08         LIB  43:80:12
502   50:01:43:80:12:0b:76:70         SRV  43:80:12
96    50:01:43:80:16:02:38:18         LIB  43:80:16
703   50:01:43:80:16:7a:11:a8         SRV  43:80:16
0     50:01:43:80:24:d5:a7:44         SRV  43:80:24
1590  50:01:43:80:24:47:ee:1e     STORAGE  43:80:24
1500  50:01:43:80:36:85:d6:2c         SRV  43:80:36
741   50:01:43:80:36:be:93:d7         LIB  43:80:36

In [31]:
oui_df

                          wwn     type       oui
0     50:01:43:80:24:d5:a7:44      SRV  43:80:24
12    50:06:0b:00:00:c2:62:80      SRV  0b:00:00
14    10:00:98:f2:b3:a1:2f:96      SRV  98:f2:b3
16    10:00:00:00:c9:e0:cb:8f      SRV  00:00:c9
40    50:01:43:80:07:2c:8a:5a      SRV  43:80:07
...                       ...      ...       ...
4860  21:00:00:24:FF:61:E9:AB  STORAGE  00:24:FF
4868  20:16:00:A0:B8:11:64:58  STORAGE  00:A0:B8
4885  50:01:43:82:C6:D0:57:FD      LIB  43:82:C6
4914  20:01:00:13:21:44:32:9A      LIB  00:13:21
5105  50:03:08:C0:02:60:30:02      LIB  08:C0:02

[155 rows x 3 columns]

In [32]:
oui_df[oui_df.type == 'VC']

                          wwn type       oui
148   20:00:00:11:0a:05:aa:ec   VC  00:11:0a
1906  20:00:00:24:81:76:d7:94   VC  00:24:81